@import "tailwindcss";

@theme {
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-disabled: var(--bg-disabled);
  --color-text-primary: var(--text-primary);
  --color-text-description: var(--text-description);
  --color-text-on-accent: var(--text-on-accent);
  --color-accent: var(--accent);
  --color-warn: var(--warn);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-outline: var(--outline);
}

:root {
  --bg-primary: #F9FAFC;
  --bg-secondary: #F0F2F5;
  --bg-disabled: #CACFD9;

  --text-primary: #010101;
  --text-description: #7A8499;
  --text-on-accent: #FFFFFF;

  --accent: #2563EB;
  --warn: #D97706;
  --error: #DC2626;
  --success: #16A34A;

  --outline: #DADEE6;
}

.dark {
  --bg-primary: #010203;
  --bg-secondary: #05070A;
  --bg-disabled: #3D4659;

  --text-primary: #FFFFFF;
  --text-description: #606B80;
  --text-on-accent: #FFFFFF;

  --accent: #3B82F6;
  --warn: #F59E0B;
  --error: #EF4444;
  --success: #22C55E;

  --outline: #1F2633;
}

html, body {
  margin: 0;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  stroke-color: var(--color-text-primary);
}

html, body, #root{
  min-height: 100vh;
}

*, *::before, *::after {
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.btn {
  cursor: pointer;
  @apply px-3 py-1 bg-bg-secondary outline outline-outline text-text-primary rounded disabled:bg-bg-disabled disabled:text-text-description
}
.btn:disabled {
  cursor: not-allowed;
  @apply bg-bg-disabled text-text-description outline-0
}
.btn.accent {
  cursor: pointer;
  @apply bg-accent text-text-on-accent disabled:bg-bg-disabled disabled:text-text-description outline-0
}
.btn.cancel {
  cursor: pointer;
  @apply bg-error text-text-on-accent disabled:bg-bg-disabled disabled:text-text-description outline-0
}

input {
  @apply px-3 py-1 text-text-primary rounded outline-outline outline-1 focus:outline-accent placeholder:text-text-description
}

select {
  @apply p-1 text-text-primary rounded outline-outline outline-1 focus:outline-accent placeholder:text-text-description
}

option {
  @apply p-1 text-text-primary bg-bg-secondary hover:text-text-on-accent hover:bg-accent active:text-text-on-accent active:bg-accent
}